.navbar-inverse .navbar-inner {
	background: #1B1B1B;
}

.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn {
  background: #ffffff; /*f5f5f5*/
  *background: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn-highlight {
  text-shadow: none;
  background: #006dcc;
  *background: #0044cc;
  border-color: #0044cc;
  border-color: rgba(0, 0, 0, 0.1);

}

.btn-primary {
  text-shadow: none;
  background: #66CC00;
  background: #66CC00;
  *background-color: #66CC00;
  border-color: rgba(0, 0, 0, 0.1);
}

.btn-warning {
  text-shadow: none;
  background: #faa732;
  *background: #f89406;
  border-color: #f89406;
  border-color: rgba(0, 0, 0, 0.1);
}

.btn-danger {
 text-shadow: none;
  background: #da4f49;
  *background: #bd362f;
  border-color: #bd362f;
  border-color: rgba(0, 0, 0, 0.1);
}

.btn-success {
  text-shadow: none;
  background: #5bb75b;
  *background: #51a351;
  border-color: #51a351;
  border-color: rgba(0, 0, 0, 0.1);
}

.btn-info {
  text-shadow: none;
  background: #49afcd;
  *background: #2f96b4;
  border-color: #2f96b4;
  border-color: rgba(0, 0, 0, 0.1);
}


.btn-inverse {
  text-shadow: none;
  background: #363636;
  *background: #222222;
  border-color: #222222;
  border-color: rgba(0, 0, 0, 0.1);
}

.btn-group > .btn + .dropdown-toggle {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}




.progress {
  background: #eeeeee;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.progress .bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background: #0e90d2;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.progress .bar + .bar {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.progress-danger .bar,
.progress .bar-danger {
  background: #dd514c;
}

.progress-success .bar,
.progress .bar-success {
  background: #5eb95e;
}

.progress-info .bar,
.progress .bar-info {
  background: #4bb1cf;
}

.progress-warning .bar,
.progress .bar-warning {
  background: #faa732;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.label,
.badge {
  text-shadow: none;
}