/*## Template ##*/
.logo {width: 264px; height: 50px; margin: 15px 0; display: block; overflow: hidden; background: url("../img/logo.png?3") no-repeat center left;}
.logo h1 {margin-top: -50px;}
.logged {text-align: right; font-size: 16px; color: #999; margin-top: 30px;}
.alert {margin-top: 20px;}
.header {background-color: #f5f5f5;}
.footer {font-size: 12px; padding: 30px 0; margin-top: 70px; border-top: 1px solid #e5e5e5; background-color: #f5f5f5;}
.footer p {color: #777}
.footer .well {background: #eee;}

/*## Header ##*/
h1 {font-size: 26px; font-weight: normal;}
h2 {font-size: 22px; font-weight: normal;}
h3 {font-size: 20px; font-weight: normal;}
h4 {font-size: 14px; font-weight: normal;}
h5 {font-size: 12px; font-weight: normal;}

/*## Tipography ##*/
.text-center{text-align: center !important;}

/*## Wizard & SocialBar ##*/
.wizard, .social-bar  { width: 100%; margin: 0; padding: 0; background: #F5F5F5; height: 10px; -webkit-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: inset 0px 1px 0px 0px #CCC; box-shadow: inset 0px 1px 0px 0px #CCC; list-style: none; margin-bottom: 60px; margin-top: 30px; }
.wizard li, .social-bar li  { display: table-cell; width: 1%; float: none; text-align: center; color: #999; }
.wizard li.active span, .social-bar li.active span  { background: #f89406; color: #FFF; }
.wizard li span { display: block; width: 30px; height: 25px; background: #F5F5F5; text-align: center; margin: auto; margin-top: -10px; margin-bottom: 5px; padding-top: 5px; font-size: 1.1em; -webkit-border-radius:15px; border-radius: 15px; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15); -webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15); box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.15); -webkit-box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.15); }
.social-bar li span { display: block; width: 30px; height: 25px; background: #F5F5F5; text-align: center; margin: auto; margin-top: -10px; margin-bottom: 5px; font-size: 1.1em; -webkit-border-radius:15px; border-radius: 15px; }

/*## Form ##*/
.terms {font-size: 12px; line-height: 16px;}
.terms h3 {font-size: 12px; line-height: 20px; margin: 0; margin-top: 5px; font-weight: bold;}

span.required {color: red;}
div small.error {color: #B94A48;}
.error input, .error textarea, .error select {margin-bottom: 1px; border-color: red;}
textarea {height: 100px;}
.well hr {border-top: 1px solid #e3e3e3; border-bottom: 1px solid #f5f5f5;}
#maxCapacity {margin-top: 5px;}
#maxCapacityInput {width: 26px; height: 16px; min-height: 16px; font-size: 12px;}
.only-label {margin-top: 30px;}

/*## Main ##*/
.main {
	width: 100%;
	height: 400px;
	/*FE781E*/
    /*background: url('../img/tour/poster-session.jpg') no-repeat bottom center fixed;*/
	background: rgba(91,183,91,1);
	background: -moz-linear-gradient(-45deg, rgba(91,183,91,1) 0%, rgba(68,139,68,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(91,183,91,1)), color-stop(100%, rgba(68,139,68,1)));
	background: -webkit-linear-gradient(-45deg, rgba(91,183,91,1) 0%, rgba(68,139,68,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(91,183,91,1) 0%, rgba(68,139,68,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(91,183,91,1) 0%, rgba(68,139,68,1) 100%);
	background: linear-gradient(135deg, rgba(91,183,91,1) 0%, rgba(68,139,68,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5bb75b', endColorstr='#448b44', GradientType=1 );


  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
	/*-webkit-box-shadow: inset 0px -6px 5px -6px rgba(0, 0, 0, .6), inset 0 7px 5px -6px rgba(0, 0, 0, .5);
	box-shadow: inset 0px -6px 5px -6px rgba(0, 0, 0, .5), inset 0 7px 5px -6px rgba(0, 0, 0, .5); */
}
.main .x {height: 350px; display: block; color: #fff; text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);}
.main .x h2 {margin: 0; font-size: 44px; font-weight: normal; color: #fff; padding-top: 80px;}
.main .x p {margin-top: 40px; font-size: 20px; line-height: 26px;}
.main .x form {margin-top: 40px;}
.main .x form p {font-size: 12px; line-height: 16px; margin-top: 8px;}
.main .x input {padding: 5px; font-size: 16px; min-height: 40px; margin: 0;}
.main .x button {margin-top: 8px;}
.main a {color: #111; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);}

.main input {border: none;}
.main button {border: 1px solid #fff; background: none;}

.welcome {text-align: center;}
.welcome h1 {font-weight: normal; font-size: 36px; line-height: 68px; margin-top: 20px;}
.welcome hr {margin: 60px 0;}


.testimonials, .testimonials blockquote p {font-size: 16px !important; line-height: 22px !important;}
.testimonials blockquote {margin: 0; padding: 0; border: 0; font-size: 17.5px; font-weight: normal;}
.testimonials p {font-style: italic; height: 130px;}
.testimonials .testimonials-name {margin-top: 5px; font-weight: bold;}
.testimonials .testimonials-desc {font-size: 12px; line-height: 14px;}
.testimonials blockquote {
	position: relative;
	border-bottom: 1px solid #e3e3e3;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.testimonials blockquote:after, .testimonials blockquote:before {
	top: 100%;
	left: 9%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.testimonials blockquote:after {
	border-color: rgba(213, 2, 2, 0);
	border-top-color: #f5f5f5;
	border-width: 10px;
	margin-left: -10px;
}
.testimonials blockquote:before {
	border-color: rgba(44, 245, 22, 0);
	border-top-color: #e3e3e3;
	border-width: 11px;
	margin-left: -11px;
}

.used {margin-bottom: 30px; text-align: center;}
.used hr {margin: 60px 0;}
.partners a {
	padding: 20px;
}

.thumbnail {-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;}
.thumbnail section {padding: 10px; background: #f5f5f5;}
.thumbnail section h2 {margin: 0; font-weight: normal; white-space: nowrap; font-size: 16px; line-height: 28px;}
.thumbnail a {color: #111; text-decoration: none;}
.thumbnail section p {margin: 0; font-weight: normal; white-space: nowrap; line-height: 12px;}
.thumbnail .row-fluid [class*="span"] {min-height: 0;}
.thumbnail {position: relative;}
.thumbnail .details {padding: 20px; padding-top: 60px; background: #000; background: rgba(0,0,0,0.9); position: absolute; top: 0; left: 0; right: 0; bottom: 68px; opacity: 0; -webkit-transition: all 300ms ease-in-out; -moz-transition: all 300ms ease-in-out; -ms-transition: all 300ms ease-in-out; -o-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out;color: #fff;}
.thumbnail .details, .thumbnail img {}
.thumbnail:hover .details {opacity: 0.8;}

/*## Table ##*/
.table .row-fluid [class*="span"] {min-height: 0;}
.table .progress {margin: 0;}
.table .progress .bar {color: #000; text-align: left; padding-left: 8px;}
.controls-inline {margin: 0; margin-top: 12px;}

.myform-search {text-align: right; margin-top: 10px;}
.myform-search .input-append {margin: 0;}
.myform-search .btn-group {text-align: left;}

.table small {font-size: 10px; color: #999;}
.table-summary dl {font-size: 15px;}
.table-summary dt {width: 160px; margin-bottom: 6px;}
.table-summary dd {margin-left: 180px; margin-bottom: 6px;}
.table-summary .dl-horizontal-subitem {margin-bottom: 15px;}
.table-summary .dl-horizontal-subitem dt {width: 160px; margin-bottom: 2px; font-weight: normal; font-size: 13px;}
.table-summary .dl-horizontal-subitem dd {margin-left: 180px; margin-bottom: 2px; font-size: 13px;}
.table-ticket td {padding: 10px;}
.table-ticket .ticket-details td {background: #f5f5f5;}
.table-ticket .ticket-basic input, .table-ticket .ticket-basic .control-group {margin: 0;}
.table-ticket input[type="text"] {min-height: 30px !important;}
.table-small {font-size: 13px;}
.table-transfer {margin-bottom: 0;}
.table-my-tickers div.muted {font-size: 12px;}

/*## Event ##*/
.event-menu {margin-top: 45px;}
.event-slug {width: 441px;}

/*## Error ##*/
.error-number {font-size: 280px; line-height: 280px; color: #ccc;}

/*## Chart ##*/
#statistic {margin-bottom: 20px;}
#statistic .span3 {background: #f5f5f5; padding: 8px; border-radius: 3px;}
#statistic .icon {display: block; height: 40px; width: 50px; background: #4bb1cf; float: left; border-radius: 3px;}
#statistic .icon i {margin-top: 12px; margin-left: 18px;}
#statistic .title {display: block; margin-left: 60px; color: #999;}
#statistic .value {display: block; margin-left: 60px; font-size: 20px;}

/*## Panel ##*/
#panel p {font-size: 12px; margin: 0; margin-top: 5px;}

/*## Maps ##*/
#maps {width: 100%; height: 250px; /*margin-top: 175px;*/ margin-top: 85px; border: 1px solid #ccc; border-radius: 4px;}

/*## Modal ##*/
.modal-clean {color: #ffffff; background: none; border-radius: 0; border: none; box-shadow: none;}
.modal-clean .modal-header {background: none; border: none; box-shadow: none;}
.modal-clean .modal-footer {background: none; border: none; box-shadow: none; text-align: center;}
.popover-help {z-index: 9999; background: none; border: none; color: #ffffff; box-shadow: none;}
.popover-help.top {border-bottom: 1px solid #ccc;}
.popover-help .popover-title {background: none; color: #ffffff; border: none;}
.popover-help .popover-content {padding: 3px 0; font-size: 14px; font-weight: bold; text-align: center; line-height: 20px;}
.popover-help.top .arrow {border-top-color: none;}
.popover-help.top .arrow:after {border-top-color: #ccc;}

/*## Icons ##*/
.icon-animate {-webkit-animation: rotate360 .5s infinite linear; -moz-animation: rotate360 .5s infinite linear; -o-animation: rotate360 .5s infinite linear;}
@-webkit-keyframes rotate360 {
	from { -webkit-transform: rotate(0deg) scale(1); }
	to { -webkit-transform: rotate(360deg) scale(1); }
}
@-moz-keyframes rotate360 {
	from { -moz-transform: rotate(0deg) scale(1); }
	to { -moz-transform: rotate(360deg) scale(1); }
}
@-o-keyframes rotate360 {
	from { -o-transform: rotate(0deg) scale(1); }
	to { -o-transform: rotate(360deg) scale(1); }
}

/*## Fields ##*/
#wysiwyg-form .snippet:hover {background-color: #EEE;}
#wysiwyg-form .btn-close {float: right}

/*## Tour ##*/
.thumbnails.tour > li > div{border: none;text-align: center;}
.tour .thumbnail > img{height: 160px;}
.tour .thumbnail{border: none;}

/*### Layout ###*/
ul.theme-selctor li a{float: left;padding: 5px;text-align: center;height: 210px;overflow: hidden;}

/*### Loading ###*/
#loading-modal{width: 80px;height: 80px;position: fixed;top: 45%;left: 50%;margin: 0px;}

#match-reviewers .select-reviewers
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.team {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
.team li {
	width: 128px;
	display: inline-block;
	margin: 25px;
}
.team img {
	margin-bottom: 20px;
}
.team-join {
	text-align: center;
}
.team-join hr {
	margin: 60px 0;
}
.team-join a {
	margin: 20px;
}
.team-join p {
	font-size: 18px;
	line-height: 26px;
	font-weight: normal;
	margin-top: 40px;
	margin-bottom: 20px;
}

.alpha {
	margin-left: 0 !important;
}
.omega {
	margin-right: 0 !important;
}
.btn-group.dual-choice .btn.active
{
	background: none repeat scroll 0 0 #5BB75B;
	border-color: rgba(0, 0, 0, 0.1);
	color: white;
	text-shadow: none;
	cursor: default;
}
.btn-group.dual-choice .btn+.btn.active
{
	background: none repeat scroll 0 0 #DA4F49;
}

.btn-group.dual-choice .btn.active i
{
	background-image: url("../img/glyphicons-halflings-white.png");
}

/*## Check-in ##*/
#checkin-bar {text-align: left;}
#checkin-bar img {margin-top: 8px; margin-left: 30px;}
.checkin-container {width: 100%; max-width: 600px;}
.checkin-box {margin-top: 40px;}
.checkin-body {background: #fff; text-align: center;}
.checkin-number {font-size: 24px !important; height: 60px !important;}

.well-participant {
	height: 180px;
}
#participant-value {
	font-size: 38px;
	margin-top: 10px;
}

#contact-form input{height: 38px;}
#contact-form textarea{min-height: 200px;}
.contact-social {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
.contact-social li {
	width: 128px;
	display: inline-block;
	margin: 25px;
}
.contact-social img {
	margin-bottom: 20px;
}


.participant-name {
    text-transform: capitalize;
}