*
{
    text-shadow: none !important;
    box-shadow: none !important;
}
header
{
    background-color: #BBB;
    background-position:center;
}
.block-header
{
    height: 768px;
}
.navbar-inverse .navbar-inner
{
    background-color: black !important;
    background-image: none !important;
}
.nav .divider
{
    display: block;
    background-color: #EEE;
    height: 20px;
    width: 1px;
}
.nav li, .nav li a
{
    color: #EEE !important;
    margin-right: 5px;
}
.nav li a:hover
{
    color: white !important;
}
.main-nav li+li
{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
}
.nav > li > a.logo-link
{
    padding: 0;
}
.header
{
    margin-top: 300px;
}

.header .jumbotron h1
{
    font-size: 72px;
    line-height: 72px;
}

.header .jumbotron p
{
    font-size: 18px;
    margin: 20px 0;
}

ul.social-bar
{
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.social-bar li
{
    margin: 0 2px;
    float: left;
}

.social-bar i[class^="icon-"], .social-bar i[class*=" icon-"]
{
    background-position: 0 0;
    width: 20px;
    height: 20px;
}

i.icon-facebook
{
    background-image: url('../img/social/facebookg.png');
}

i.icon-facebook:hover
{
    background-image: url('../img/social/facebook.png');
}

i.icon-twitter
{
    background-image: url('../img/social/twitterg.png');
}

i.icon-twitter:hover
{
    background-image: url('../img/social/twitter.png');
}

i.icon-gplus
{
    background-image: url('../img/social/gplusg.png');
}

i.icon-gplus:hover
{
    background-image: url('../img/social/gplus.png');
}

#cart-form
{
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

#cart-form h4
{
    margin: 10px;
    color: #888;
}

#cart-form .items
{
    max-width: 290px;
}

#cart-form .items li
{
    margin: 10px;
}

#cart-form .form-actions
{
    width: 250px;
    background-color: transparent;
    margin: 0;
}

#tickets .ticket h4
{
    margin-top: 0;
}

section
{
    padding: 50px 0;
}

footer section#eventmania
{
    background-color: #CCC;
    padding: 10px 0;
}

footer section#eventmania img
{
    width: 150px;
}

footer
{
    background-color: #222;
}

footer #footer
{
    color: #CCC;
}

ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#timer
{
    font-size: 34px;
    line-height: 34px;
    font-weight: normal;
    margin: 5px;
    margin-right: 20px;
    padding-right: 20px;
    border-right-width: 1px;
    border-right-style: solid;
    float: left;
}

#cvv-help-content
{
    display: none;
    font-size: 14px;
    line-height: 17px;
}

#cvv-help-content img
{
    float: left;
    margin-right: 10px;
    margin-bottom: 8px;
}

.payment-box
{
    padding: 0px;
    border: 0px solid #ccc;
    display: table;
    margin-bottom: 30px;
}

.payment-method
{
    display: block;
    width: 90px;
    height: 70px;
    float: left;
    margin: 5px;
    padding: 0;
    border: 3px solid #fff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    font-size: 11px;
    line-height: 12px;
    text-align: center;
    background: #fff;
}

.payment-method img
{
    margin: 8px;
    margin-bottom: 3px;
}

.payment-method.active
{
    background: #fff;
    border-color: #555;
    position: relative;
}

.payment-method.active .check
{
    position: absolute;
    top: -8px;
    right: -8px;
    padding-left: 3px;
    padding-right: 3px;
}

.payment-method input
{
    display: none;
}


span.required {color: red;}
div small.error {color: gray; font-size: 10px;}
.error input, .error textarea, .error select {margin-bottom: 1px; border-color: red;}

.total td {
    font-weight: bold !important;
}

.icon-ok
{
    background-image: url('../img/check.png');
}

select {
    height: 38px !important;
}

.nav-tabs li a, .nav-tabs li a:hover
{
    color: #0088CC !important;
}

.nav-tabs li.active a
{
    color: #555555 !important;
}
