body {
	background: #e9eaed;
}

.embedded {
	background: transparent !important;
}

h1 {
	font-size: 26px;
	line-height: 28px;
}

h2 {
	font-size: 22px;
	line-height: 24px;
}

h3 {
	font-size: 18px;
	line-height: 20px;
}

h4 {
	font-size: 14px;
	line-height: 16px;
}

.container {
	background: #fff;
	border: 1px solid #ccc;
}
#cover {
	position: relative;
	overflow: hidden;
}
#cover #image {
	width: 100%;
}
#cover .summary {
	color: #fff;
	font-size: 18px;
	line-height: 20px;
	margin: 0;
	font-weight: normal;
	z-index: 1;
	position: absolute;
	left: 100px;
	bottom: 30px;
}

#content {
	padding: 15px;
	margin-top: 10px;
}


.table th, .table td {
	vertical-align: middle;
}

#timer {
	font-size: 34px;
	line-height: 34px;
	font-weight: normal;
	margin: 5px;
	margin-right: 20px;
	padding-right: 20px;
	border-right-width: 1px;
	border-right-style: solid;
	float: left;
}

#cvv-help-content {
	display: none;
	font-size: 14px;
	line-height: 17px;
}
#cvv-help-content img {
	float: left;
	margin-right: 10px;
	margin-bottom: 8px;
}

.payment-box {
	padding: 0px;
	border: 0px solid #ccc;
	display: table;
	margin-bottom: 30px;
}

.payment-method {
	display: block;
	width: 90px;
	height: 70px;
	float: left;
	margin: 5px;
	padding: 0;
	border: 3px solid #fff;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	font-size: 11px;
	line-height: 12px;
	text-align: center;
	background: #fff;
}

.payment-method img {
	margin: 8px;
	margin-bottom: 3px;
}

.payment-method.active {
	background: #fff;
	border-color: #555;
	position: relative;
}

.payment-method.active .check {
	position: absolute;
	top: -8px;
	right: -8px;
	padding-left: 3px;
	padding-right: 3px;
}

.payment-method input {
	display: none;
}

span.required {color: red;}
div small.error {color: gray; font-size: 10px;}
.error input, .error textarea, .error select {margin-bottom: 1px; border-color: red;}

.total td {
	font-weight: bold !important;
}

#maps {
	height: 300px;
	border: 1px solid #ccc;
}

.table thead .check {
	width: 25px;
}

.table thead .fee {
	width: 70px;
}

.table thead .price {
	width: 100px;
}


.table thead .date {
	width: 130px;
}

legend {
	border: 0;
}